@model IEnumerable<KelCVBajaDivaManufaktur.Models.Transaksi>

@{
    ViewData["Title"] = "Index";
}

<style>
    .table-container {
        max-height: 400px; /* Sesuaikan dengan tinggi maksimum yang diinginkan */
        overflow-y: auto;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title">Data Transaksi</h4>
            <a asp-action="Create" class="btn btn-success">
                <i class="fa fa-plus"></i> Tambah
            </a>
        </div>
        <p class="card-description">Daftar Transaksi</p>

        <form asp-controller="Transaksis" asp-action="Index" method="get">
            <div class="input-group">
                <div class="input-group-prepend hover-cursor" id="search">
                    <span class="input-group-text" id="search">
                        <i class="icon-search"></i>
                    </span>
                </div>
                <input type="text" name="SearchString" class="form-control hover-cursor" id="search" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
        </form>

        <div class="table-responsive mt-3 table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Pembeli</th>
                        <th>Produk</th>
                        <th>Tanggal Beli</th>
                        <th>Jumlah</th>
                        <th>Total Bayar</th>
                        <th>Cara Bayar</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowNumber = 1; // Inisialisasi nomor baris
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@rowNumber</td>
                            <td>@Html.DisplayFor(modelItem => item.NamaPelanggan)</td>
                            <td>@Html.DisplayFor(modelItem => item.NamaMenu)</td>
                            <td>@Html.DisplayFor(modelItem => item.TanggalBeli)</td>
                            <td>@Html.DisplayFor(modelItem => item.Jumlah)</td>
                            <td>Rp. @Html.DisplayFor(modelItem => item.TotalBayar)</td>
                            <td>@Html.DisplayFor(modelItem => item.CaraBayar)</td>
                            <td class="d-flex">
                                <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                                    <button type="submit" class="btn btn-warning btn-sm mr-1" title="Edit">
                                        Edit
                                    </button>
                                </form>
                                <form asp-action="Details" asp-route-id="@item.Id" method="get">
                                    <button type="submit" class="btn btn-info btn-sm mr-1" title="Details">
                                        Details
                                    </button>
                                </form>
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        rowNumber++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
