@model KelCVBajaDivaManufaktur.Models.Produk

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CV Baja Diva Manufaktur - @ViewData["Title"]</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/logo.jpg" />
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Details Produk</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/images/logo.jpg" class="img-fluid" alt="Gambar Produk">
                </div>
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3">Nama Produk</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.NamaProduk)</dd>

                        <dt class="col-sm-3">Stok</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Stok)</dd>

                        <dt class="col-sm-3">Harga</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Harga)</dd>

                        <dt class="col-sm-3">Kategori</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Kategori)</dd>

                        <dt class="col-sm-3">Deskripsi</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Deskripsi)</dd>
                    </dl>
                </div>
            </div>
            <div class="mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-light">Kembali</a>
            </div>
        </div>
    </div>

</body>
</html>