@model IEnumerable<KelCVBajaDivaManufaktur.Models.BahanBaku>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title">Data Bahan Baku</h4>
            <a asp-action="Create" class="btn btn-success">
                <i class="fa fa-plus"></i> Tambah
            </a>
        </div>
        <p class="card-description">Daftar Bahan Baku Tersedia</p>
        <form asp-controller="BahanBakus" asp-action="Index" method="get">
            <div class="input-group">
                <div class="input-group-prepend hover-cursor" id="search">
                    <span class="input-group-text" id="search">
                        <i class="icon-search"></i>
                    </span>
                </div>
                <input type="text" name="SearchString" class="form-control hover-cursor" id="search" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
        </form>

        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NamaBahan)</th>
                        <th>@Html.DisplayNameFor(model => model.Stok)</th>
                        <th>@Html.DisplayNameFor(model => model.Satuan)</th>
                        <th>@Html.DisplayNameFor(model => model.Supplier)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.NamaBahan)</td>
                            <td>@Html.DisplayFor(modelItem => item.Stok)</td>
                            <td>@Html.DisplayFor(modelItem => item.Satuan)</td>
                            <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
                            <td class="d-flex">
                                <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                                    <button type="submit" class="btn btn-warning btn-sm mr-1" title="Edit">
                                        Edit
                                    </button>
                                </form>
                                <form asp-action="Details" asp-route-id="@item.Id" method="get">
                                    <button type="submit" class="btn btn-info btn-sm mr-1" title="Details">
                                        Details
                                    </button>
                                </form>
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
